# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Scenes.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Unity\2021-ss-3det-marcus-meyer-finn-wessel\Projekt\Assets\Scenes\.idea\.idea.Scenes.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
